<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="public/css/styling2.css">
        <title>
            Movie Updates
        </title>
    </head>
    <body>
        <h1>Movie Updater Login:</h1>
        <form>             
            <label for="email">Enter Email:</label>
            <br>             
            <input type="text" id="email" name="email">
            <br>             
            <label for="password">Enter Password:</label>
            <br>             
            <input type="text" id="password" name="password">
            <br>
            <br>
             <button formaction="/homepage">Submit</button>          
        </form>
        <br>
       

        <hr>
          <footer>
              &copy; 2021, griffinsharp@oakland.edu
            </footer>

    </body>
</html>