<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="public/css/styling.css">
        <title>
            Movie Updates
        </title>
    </head>
    <body>
        <nav>
            
            <ul class="menu">
                <li><a href="/user">User Info</a></li>
                <li><a href="/">Login</a></li>
                <li><a href="/homepage">Home</a></li>
                <li><a href="/movies">Movies</a></li>
                
            </ul>
            <div class="search">
                <input type="text" placeholder="Find Your Favorite Movies"/>
                
            </div>
        </nav>
        <br>
        <br>
        <br>
        <section id="main">
            
            <div class="showcase-box">
             <img src="public/img/th.jpg" class="center">   
            </div>
            
        </section>
        
        
        
        
       

        <hr>
          <footer>
              &copy; 2021, griffinsharp@oakland.edu
            </footer>

    </body>
</html>